@import url(resetCSS.css);

@font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('../font/web/variable/woff2/PretendardVariable.woff2') format('woff2-variations');
}

/* //import, font */

/* root */
:root {
    --page-color-main: #B03A3A;
    --page-color-subBg: #f6f6f6;
    --page-color-subBg-white: #fff;
    --page-color-mainBg: #000;
    --font-color-main: #000;
    --font-color-sub: #fff;
    --other-color-spon: rgb(255, 245, 242);
    --other-color-footer: #3a3a3a;
}

/* //root */

/* html, body */
html {
    font-size: 16px;
}

body {
    background-color: var(--page-color-subBg);
    color: var(--font-color-main);
    font-family: 'Pretendard Variable';
    scroll-behavior: smooth;
    overflow-x: hidden;
}

button{
    font-family: 'Pretendard Variable';
}

/* //html, body */

/* header */
#njp_header {
    width: 100%;
    height: 12vh;
}

#header_top_wrap {
    width: 100%;
    height: 12vh;
    position: fixed;
    top: 0;
    z-index: 5;
}

#header_top {
    width: 85.4166666%;
    height: 12vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 5;
}

#header_top h1 {
    width: 13.0208333%;
    height: auto;
}

#header_top h1 img {
    width: 90%;
}

#header_top h1 span,
.header_all_category_wrap h2 span {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
}

/* 반응형 아이콘, 메뉴 */
#header_all_category_topMenu {
    display: none;
}

#header_all_category_topMenu button {
    color: var(--font-color-main);
    padding: 0;
    font-size: 1.375rem;
    font-weight: 700;
    margin-left: 2vh;
}

#header_all_category_topMenu button:hover {
    color: var(--page-color-main);
}

#header_menu1 li {
    display: inline-block;
    margin-left: 8vh;
    font-size: 1.5rem;
    font-weight: 700;
}

#header_menu1 li:hover,
#header_menu1 li button:hover {
    color: var(--page-color-main);
}

.header_lang button {
    color: var(--font-color-main);
    font-size: 1.5rem;
    font-weight: 700;
}

/* //header */

/* menu-category */
#header_all_category {
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -110%;
    z-index: 100;
    background-color: var(--page-color-main);
    color: #F3EED9;
    border: 0.1rem solid var(--page-color-main);
    line-height: 1.5;
    transition: all 0.7s;
}

.header_all_category_closeBtn {
    float: right;
    margin: 7% 7% 4vh 0;
    font-size: 1.5rem;
    font-weight: 800;
    color: #F3EED9;
}

.header_all_category_wrap {
    margin: 13% 7% 7% 7%;
}

.header_mini_bar {
    display: block;
    width: 100%;
    height: 1.5px;
    margin: 3vh auto;
    background-color: #F3EED9;
}

#header_menu1_mini {
    font-size: 1.5rem;
    font-weight: 700;
}

#header_menu1_mini li,
#header_menu2_mini li {
    margin-bottom: 2vh;
}

#header_menu2_mini button {
    color: inherit;
}

#header_menu2_mini,
#header_menu2_mini li button {
    font-size: 1.25rem;
    font-weight: 700;
}

#header_menu3_mini {
    font-size: 1.0625rem;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
}

#header_menu3_mini li {
    flex: 2 1 50%;
    margin-bottom: 2vh;
}

.header_all_category_wrap h2 {
    margin-top: 4vh;
    width: 50%;
}

/* //menu-category */

/* main */
#njp_sub3 {
    display: flex;
    width: 85.4166666%;
    height: max-content;
    margin: 0 auto 10vh auto;
}

#header_btm {
    width: 20%;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 10vh;
}

#pageWrap3 {
    width: 80%;
}

#header_menu2 {
    position: fixed;
}

#header_menu2 li {
    margin-bottom: 4vh;
}

#header_menu2 li:nth-child(3) {
    color: var(--page-color-main);
}

#header_menu2 li:hover {
    color: var(--page-color-main);
}

/* vr */
.sub3_con_top_overlay {
    display: none;
}

#sub3_con_collect {
    margin: 15vh auto;
}

.sub3_con_head {
    display: flex;
    margin-bottom: 1.6vw;
    width: 100%;
    position: relative;
}

.sub3_con_head h3 {
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.sub3_con_head a {
    font-size: 1.375rem;
    font-weight: 300;
    position: absolute;
    right: 0;
    bottom: 0;
}

.sub3_con {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sub3_con_con {
    margin-bottom: 12vh;
}

.sub3_con_collect_con:nth-child(2),
.sub3_con_collect_con:nth-child(4) {
    max-width: 39%;
    flex: 1 1 39%;
}

.sub3_con_collect_con:nth-child(1),
.sub3_con_collect_con:nth-child(3),
.sub3_con_collect_con:nth-child(5),
.sub3_con_collect_con:nth-child(6) {
    max-width: 29%;
    flex: 1 1 29%;
}

.sub3_con_collect_con:nth-child(n+7){
    display: none;
}

.sub3_con_headCon {
    margin: 3vw 0;
    line-height: 1.8;
}

.sub3_con_headCon h2 {
    font-size: 1.875rem;
    font-weight: 700;
}

.sub3_con_headCon span {
    display: block;
    width: 60%;
    background-color: var(--page-color-mainBg);
    height: 0.1rem;
    margin: 2vh 0;
}

.sub3_con_headCon p {
    font-size: 1.125rem;
    font-weight: 500;
}

.sub3_con_archive_con:nth-child(1),
.sub3_con_archive_con:nth-child(2) {
    max-width: 49.2%;
    flex: 1 1 49.2%;
}

.sub3_con_archive_con:nth-child(n+3) {
    max-width: 32.3%;
    flex: 1 1 32.3%;
}

.sub3_con_con_cap {
    margin: 2vh 0;
}

.sub3_con_tit {
    font-size: 1.5rem;
    font-weight: 600;
}

/* //main */

/* footer */
#footer_borderLine {
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: #000;
}

#njp_footer {
    width: 100%;
    height: 100%;
}

#footer1_menu_bg {
    width: 100%;
    height: 50vh;
    background-color: var(--page-color-subBg);
    color: var(--font-color-main);
    line-height: 2;
    display: flex;
}

#footer1_menu {
    width: 83.3333333%;
    margin: auto auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#footer1_menu_fir {
    width: 17%;
}

.footer1_fir_logo {
    width: 90%;
    margin-bottom: 4vh;
}

#footer1_menu_sec {
    width: 74.6875%;
    display: flex;
    justify-content: space-between;
}

#footer1_menu_sec>.footer1_sec_ul {
    width: 79.0794979%;
    display: flex;
    justify-content: space-between;
}

.footer1_fir_mainCategory>.footer1_sec_ul li:hover {
    color: var(--page-color-main);
}

.footer1_fir_mainCategory>.footer1_sec_ul,
.footer1_sec_intro>a,
.footer1_sec_research>a,
.footer1_sec_auth>a,
.footer1_sec_message>a {
    font-size: 1.5rem;
    font-weight: 700;
}

.footer1_sec_ul li {
    margin-bottom: 1vh;
}

.footer1_sec_ul_sub li,
.footer1_sec_remain {
    font-size: 1.125rem;
    font-weight: 500;
}

#footer2_companyInfo_bg {
    width: 100%;
    height: 50vh;
    font-weight: 300;
    line-height: 2;
    font-size: 1.125rem;
    display: flex;
    background-color: var(--page-color-mainBg);
    color: var(--font-color-sub);
}

#footer2_companyInfo {
    width: 83.3333333%;
    margin: auto auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#footer2_info {
    width: 24.0625%;
}

.footer_mini_bar {
    display: none;
    width: 100%;
    height: 0.1rem;
    background-color: var(--page-color-subBg);
    margin: 3vh 0;
}

#footer2_pic {
    display: flex;
    justify-content: space-between;
    width: 66.25%;
}

.footer2_info2 li:last-child {
    color: var(--page-color-main);
    text-decoration: underline;
}

.footer2_pic_wrap {
    width: 28.3018867%;
    display: flex;
    flex-direction: column;
}

.footer2_pic_sns {
    display: flex;
    margin-bottom: 10vh;
}

.footer2_pic_sns li {
    width: 4vh;
    height: auto;
    margin-right: 2vh;
}

.footer2_pic_wrap a {
    margin-bottom: 4vh;
}

/* //footer */

/* sponlist */
#footer2_info2_sponsorList_wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

#footer2_info2_sponsorList {
    width: 30vw;
    height: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: var(--other-color-spon);
    color: #000;
    border: 1px solid var(--page-color-main);
    padding: 1.3rem;
}

.footer2_sponList_head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--page-color-main);
    padding-bottom: 0.8rem;
    font-weight: 600;
}

.footer2_sponList_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer2_sponList_body p {
    margin: 0.8rem auto;
}

.footer2_sponList_body span {
    font-weight: 500;
    margin-bottom: 5px;
}

.footer2_sponList_body_pic {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 149px));
    column-gap: 5px;
    row-gap: 5px;
}

.footer2_sponList_body_pic figure:nth-child(22),
.footer2_sponList_body_pic figure:nth-child(23) {
    margin: auto 0;
}

/* //sponlist */

/* responsive */
@media screen and (max-width : 1400px) {
    html {
        font-size: 14px;
    }

    #footer1_menu_fir {
        width: 20%;
    }
}

@media screen and (max-width : 1023px) {
    #header_top {
        animation: none;
        width: 90%;
    }

    #header_top h1 {
        margin-top: 1vh;
    }

    #header_top h1 img {
        width: 100%;
    }

    #header_all_category_topMenu {
        display: block;
    }

    #header_btm {
        display: none;
    }

    #njp_sub3 {
        width: 90%;
    }

    #pageWrap3 {
        width: 100%;
    }

    #header_menu1 {
        display: none;
    }

    #footer1_menu_fir {
        display: none;
    }

    #footer1_menu_sec {
        width: 100%;
    }

    .footer2_pic_wrap {
        width: 45%;
    }
}

@media screen and (max-width : 767px) {
    html {
        font-size: 12px;
    }

    .header_all_category_lang {
        display: none;
    }

    .sub3_con_collect_con:nth-child(1),
    .sub3_con_collect_con:nth-child(2),
    .sub3_con_collect_con:nth-child(3),
    .sub3_con_collect_con:nth-child(4),
    .sub3_con_collect_con:nth-child(5),
    .sub3_con_collect_con:nth-child(6), 
    .sub3_con_collect_con {
        max-width: 49.2%;
        flex: 1 1 49.2%;
    }

    .sub3_con_collect_con:nth-child(n+7){
        display: block;
    }

    .sub3_con_archive_con {
        margin-bottom: 4vh;
        max-width: 100% !important;
        flex: 1 1 100% !important;
    }

    .sub3_con_con_cap {
        text-align: center;
    }

    .sub3_con_con figure {
        width: 100%;
    }

    #footer1_menu_bg,
    #footer2_companyInfo_bg {
        height: max-content;
    }

    #footer1_menu,
    #footer2_companyInfo {
        margin: 5vh auto;
    }

    #footer1_menu_sec {
        flex-direction: column;
    }

    #footer1_menu_sec>.footer1_sec_ul {
        width: 100%;
        flex-wrap: wrap;
    }

    #footer1_menu_sec>.footer1_sec_ul li {
        flex: 1 1 50%;
    }

    .footer1_sec_auth,
    .footer1_sec_message {
        margin-top: 5vh;
    }

    .footer1_sec_remain {
        margin-top: 5vh;
        display: flex;
    }

    .footer1_sec_remain li {
        flex: 1 1 50%;
    }

    #footer2_companyInfo {
        flex-direction: column;
    }

    #footer2_info {
        width: 100%;
    }

    .footer_mini_bar {
        display: block;
    }

    #footer2_pic {
        width: 100%;
    }
}

@media screen and (max-width : 499px) {
    .sub3_con_headCon {
        margin: 5vw 0;
    }

    .sub3_con {
        margin-top: 4vh;
    }

    .sub3_con_collect_con {
        max-width: 100% !important;
        flex: 1 1 100% !important;
    }
}